# Dependencies
node_modules/

# Build output
dist/

# Environment variables
**/.env
**/.env.*
!.env.example
!**/.env.example

# Logs
npm-debug.log*

# Mac
.DS_Store

# VS Code
.vscode/

# Coverage
coverage/
